
<div class="divContent">

    <button class="accordion" (click)=showDiv(1) >{{'experience.section1.title' |translate}}</button>
    <div class="panel" *ngIf="isShown1">
      <p>{{'experience.section1.content' |translate}} </p>
      
    </div>
    
    <button class="accordion" (click)=showDiv(2) >Section 2</button>
    <div class="panel" *ngIf="isShown2">
      <p> contenido seccion 2</p>
    </div>
    
    <button class="accordion"  (click)=showDiv(3) >Section 3</button>
    <div class="panel" *ngIf="isShown3">
      <p>contenido seccion3</p>
    </div>

    

</div>