<div class="formTitle">
    <div>
        <br>
        <h3 >{{'contact.title' | translate}}</h3>
         <p >{{'contact.titleP' | translate}}</p>

    </div>
    
    <hr>
</div>
<div class="form">
    <form  #formFilled="ngForm" (ngSubmit)="onSubmit(formFilled)">
        <label for="name"> {{'contact.name' | translate}}</label>
        <input type="text" name="name" #name=ngModel [(ngModel)]="formulario.name" placeholder="Name" required>

        <label for="company"> {{'contact.comp' | translate}}</label>
        <input type="text" name="company" placeholder="Company"  #company=ngModel [(ngModel)]="formulario.company" required>

        <label for="email"> {{'contact.email' | translate}}</label>
        <input type="text" name="email" placeholder="Email" #email=ngModel [(ngModel)]="formulario.email" required >

        <label for="telephone"> {{'contact.telephone' | translate}}</label>
        <input type="number" name="telephone"  #telephone=ngModel [(ngModel)]="formulario.telephone" minlength="8" required>       
       
        <span  class="form_error" *ngIf="telephone.errors && telephone.touched && !telephone.valid && telephone.errors.required" > {{'contact.error' | translate}}</span>

        <label for="message"> {{'contact.msg' | translate}}</label>
        <textarea type="textarea" name="message" placeholder="message" #message=ngModel [(ngModel)]="formulario.message"  required></textarea>

        <button type="submit" [disabled]="!formFilled.valid">
            {{'contact.btn' | translate}}
        </button>
        
        
    </form>
  


</div>

