
<div class="form">
    <p class="pass"> <strong> {{msg}}</strong></p>
    <form  #formFilled="ngForm" (ngSubmit)="onSubmit(formFilled)">
        <label for="name"> Name</label>
        <input type="text" name="name" [(ngModel)]="formulario.name" placeholder="name" required>

        <label for="company"> Company</label>
        <input type="text" name="company" placeholder="company" [(ngModel)]="formulario.company" required>

        <label for="email"> Contact Email </label>
        <input type="text" name="email" placeholder="email" [(ngModel)]="formulario.email" required>

        <label for="phone"> Telephone</label>
        <input type="text" name="phone" [(ngModel)]="formulario.telephone"  required>

        <label for="message"> Message</label>
        <textarea type="textarea" name="message" [(ngModel)]="formulario.message"  required></textarea>

        <button type="submit" [disabled]="!formFilled.valid">
            Send
        </button>
        
        
    </form>
  


</div>

