@font-face{
    font-family:'handy';
    src: url('./assets/fonts/handy.ttf');
}

body{
    background-color:rgba(3, 3, 3, 0.622);
    overflow: auto;
}
.photo{
    margin:0px auto;
    float: left;
    background-color: rgb(53, 135, 243);
    width: 48%;    
    left:0;
    top:0;
    position: fixed;
    height: 100%;
    
}

/* /////////////////// LOGO ////////////////*/
.divLogo{
    position: absolute;
    margin: 0px auto;
    margin-top: 4px;
    float: left;
    margin-left: 49%;
}
.divLogo img{
    width: 100px;
    height: 100px;

}

/* /////////////////// Lenguages ////////////////*/
.lengDiv{
    margin: 0px auto;
    float: right;
    margin-right: 10px;
}
.lengDiv button{
    margin-left: 10px;
}

/* /////////////////// MENU ////////////////*/
.menu{    
    margin:0px auto;
    float: left;  
    margin-left: 50%;  
    margin-top: 1rem;
    width: 49%;
    height: auto;
    color: white;
    text-align: center;

}
.menu ul{
    
    display: inline-block;
    width: 100% auto;
    text-align: center;
    
}

.menu li{  
    margin:0px auto;
    float: left;
    display: inline;     
    font-size:17px;
    margin-right: 3rem;      
    transition: background-color 1.5s;
    font-family: finger;border-bottom: 1px dashed white;
    

}
.menu li img{
    width: 40px;
    height: 40px;
}
.menuText{
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;  
    
    
    
    
}
.menu li:hover .menuText{
    visibility: visible;
}

/* /////////////////// CONTENEDOR ////////////////*/
.container{
 
    margin: 0px auto;
    margin-top: 1%;
    margin-left: 50%;
    background-color:rgba(3, 3, 3, 0.068);
    float: left;
    width: 48%;
    margin-bottom: 50px;    
    padding-bottom: 3%;
    box-shadow: 0px 5px 5px 10px  rgba(0, 0, 0, 0.144);
    color: white;
    
}

.titulos{
    margin-left: 20px;
    margin-top: 20px;
    color:rgb(53, 135, 243);
    font-family: bold;
    font-size: 50px;
    
}
.divContent{
    margin-left: 15px;
    margin-right: 25px;  
    
    font-family: finger;
    font-size: medium;  
}
.divContent button{
    color: white;
    background-color:rgba(3, 3, 3, 0.068);
}

/* Experience */

.accordion {
  margin-top: 20px;  
  color: rgb(17, 17, 17);
  cursor: pointer;
  padding: 10px;
  width: 95%;
  font-size: medium;
  border: none;
  outline: none;
  font-family: cursive;
  transition: 0.4s;
  text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color:rgba(0, 0, 0, 0.281);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  width: 85%;
  padding: 0 18px;
  background-color:rgba(0, 0, 0, 0.281);
}


/* Contact me*/

.form{
    margin-top: 5%;
    margin-left: 3%;
    width: 40%;
      
    padding:2%;
}

.form input, label,textarea {
    display:block;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 15px;
    width:75%;

}
.form button{
    margin-left: 2%;
    margin-top: 5%;
    font-size: large;

}
.photo2{
    
    position: absolute;
    margin:0px auto;
    float: right;
    width: 200px;
    height: 250px;
    
    
   
}
.pass{
    font-size: 25px;
    color:red;
    font-family: finger;
    margin-left: 2%;
}


/* SKILLS */

.list{
    margin:0px auto;
    margin-top: 3%;
    width: 45%;
    float: left;
    margin-left:2%;
    border: 1px solid red;
    
    
}

.progresBars{
    margin:0px auto;
    margin-top: 3%;
    float: right;
    margin-right: 2%;
    border-left: 5px dashed black;
    width: 45%;
    padding-bottom: 1%;    
    padding-left: 3%;
    border: 1px solid red;



}


.greyBar{
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 15px; 
    margin-top: 10px;
}
.percentBar{
    background-color:rgb(53, 135, 243); 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px; 
    margin-top:10px;

}
.liCertificates{
    margin-left: 10px;
    font-size: small;
}


/*  PROJECTS */


.project{
    width:75%;
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.divImages{
    width: 40%;
    height: 40%; 
    overflow: hidden;
    float: left;

}

.description{
    text-align: left;
    margin-left: 2%;
    width: 40%;
    height: 40%;
    float: left;
    
}

.divImages img{
    float: left;    
    width: 100%;
    height: 100%;
}
