@font-face{
    font-family:'handy';
    src: url('./assets/fonts/handy.ttf');
}

body{
    background-color:rgba(3, 3, 3, 0.622);
    overflow: auto;

}
.photo{
    margin:0px auto;
    float: left;
    background-color: rgb(53, 135, 243);
    width: 48%;    
    left:0;
    top:0;
    position: fixed;
    height: 100%;
    
}

/* /////////////////// LOGO ////////////////*/
.divLogo{
    
    margin: 0px auto;
    margin-top: 4px;
    float: left;
    margin-bottom: 20px;

}
.divLogo img{
    width: 90px;
    height: 90px;

}

/* /////////////////// Home ////////////////*/

.myPhoto{
    width:150px;
    height:170px;
    border-radius:20%;
    margin-left:40%;

}

/* /////////////////// Lenguages ////////////////*/
.icondiv{
    margin: 0px auto;
    float: right;
    margin-right: 10px;
    
}
.icondiv button{
    height: 30px ;
    margin-left: 5px;
    background-color:rgba(3, 3, 3, 0);
    border: none;
}
.icondiv img{
    width: 30px;
    height: 30px;
}
.icondiv a{
    opacity: 0.5;
    margin-left: 20px;
}

/* /////////////////// MENU ////////////////*/
.menu{    
    margin:0px auto;
    float: left;  
    margin-left: 55%;  
    margin-top: 1px;
    width: 40%;
    
    color: white;
    

}
.menu ul{
    
    display: inline-block;
    margin: 0px auto;
    margin-top:50px;       
    padding-left: 2%; 
    
}

.menu li{  
    margin:0px auto;
    float: left;
    display: inline;     
    font-size:17px;
    margin-right: 2.5rem;      
    transition: background-color 1.5s;
   
    border-bottom: 1px dashed white;

}
.menu li img{
    width: 40px;
    height: 40px;
}
.menuText{
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;   
    position: absolute;
    z-index: 1;  
    
    
    
    
}
.menu li:hover .menuText{
    visibility: visible;
}

/* /////////////////// CONTENEDOR ////////////////*/
.container{ 
    margin: 0px auto;
    margin-top: 0.2%;
    margin-left: 50%;
    background-color:rgba(3, 3, 3, 0.068);
    float: left;
    width: 48%;
    margin-bottom: 50px;    
    padding-bottom: 3%;
    box-shadow: 0px 5px 15px 10px  rgba(0, 0, 0, 0.144);
    color: white;
    
}

.titulos{
    margin-left: 20px;
    margin-top: 20px;
    color:rgb(53, 135, 243);
    font-family: Helvetica;
    font-size: 50px;
    
}
.divContent{
    margin-left: 15px;
    margin-right: 25px;  
    
    font-family: Helvetica;
    font-size: medium;  
}
.divContent button{
    color: white;
    background-color:rgba(3, 3, 3, 0.068);
}

/* Experience */

.accordion {
  margin-top: 20px;
  margin-left: 20px;  
  color: rgb(17, 17, 17);
  cursor: pointer;
  padding: 10px;
  width: 95%;
  font-size: medium;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
}

.accordion:hover {
  background-color:rgba(0, 0, 0, 0.281);
}


.panel {
  width: 89%;
  margin-left: 20px;    
  padding: 0 18px;
  background-color:rgba(0, 0, 0, 0.103);
  
}
.panel h3{
    padding-top: 2%;
    text-align: center;
    border-bottom: 2px dashed white;
    color: rgb(53, 135, 243);
    font-size: 25px;
}
.panel p{
    font-weight:bold;
    margin-bottom: -10px;
    color: rgb(46, 46, 46); 
}
.panel li{
    margin-top: 5px;
}


/* Contact me*/

.formTitle h3{
    margin-top: 5%;
    padding-left: 30%;
    font-family: Helvetica;
}
.formTitle p{
    margin-left: 27%;
    font-size: 15px;
}
.form{    
    margin-left: 25%;
    width: 50%;      
    padding:1%;
    text-align: center;
}

.form input, label,textarea {
    display:block;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 15px;
    width:90%;

}
.form button{
    
    margin-top: 5%;
    font-size: large;

}

.pass{
    font-size: 20px;
    color:white;
    font-family: Helvetica;
    margin-left: 2%;
    float: right;
}

.form_error{
    margin-top: 3px;
    font-size: 10px;
    padding:5px;
    background: rgba(255, 0, 0, 0.9);
    color: white;
    border-radius: 10%;
}



/* SKILLS */

.list{
    margin:0px auto;
    margin-top: 3%;
    width: 45%;
    float: left;
    margin-left:2%;
    
    
}

.progresBars{
    margin:0px auto;
    text-align: left;
    float: right;
    margin-right: 2%;
    border-left: 5px dashed black;
    width: 45%;
    padding-bottom: 1%;    
    padding-left: 2%;
    border-left: 2px dashed black;


}


.greyBar{
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 15px; 
    margin-top: 10px;
    height: 20px;
}
.percentBar{
    background-color:rgb(53, 135, 243); 
    color: white; 
    padding: 0.5%; 
    text-align: right; 
    font-size: 15px; 
    border-radius: 15px; 
    margin-top:10px;
    height: 18px;

}
.liCertificates{
    margin-left: 10px;
    font-size: small;
    line-height: 13px;
    list-style-type: none;
    
}
.liCertificates h3{
    text-decoration: underline  ;
}



/*  PROJECTS */


.project{
    width:90%;
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;

}

.divImages{
    width: 280px;
    height: 200px; 
    overflow: hidden;
    float: left;


}

.description{
    text-align: left;
    line-height: 15px;
    margin-left: 2%;
    width: 40%;
    height: 20%;
    float: left;    
}

.divImages img{
    float: left;    
    width: 100%;
    height: 100%;
}


/*General for number inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}