<div >
    
    <ul >
        <li *ngFor="let project of projects" class="project">            
               <div class="divImages">
               
                <img src="{{ url+'/getimage/'+project.image }}" *ngIf="project.image">
                
               
            </div>
            <div class="description">
            <h3>{{project.projectName}}</h3>
            <p>{{project.date}}</p>
            <p>{{project.description}} <p>
           
            <p> {{project.langs}}</p>
            </div>
            
                
        </li>
    </ul>

</div>

