


<div class="frame">
   <img class="photo" src="../assets//leftphoto.jpeg">
   <div class="divLogo"> <img class="logo" src="../assets//icons//logo.png" alt=""> </div>   
   <div class="lengDiv">
        
        <button (click)="useLanguage('en')">English</button>
        <button (click)="useLanguage('es')">Español</button>
    </div>
   <nav class="menu">

        <ul>
            
            
           
            <!-- TODO descipcion de mi-->
            <li class="liText"> <a [routerLink]="['']"
                routerLinkActive="router-link-active"><img src="../assets/icons//home.png" alt=""></a>                   
                <span class="menuText">{{'menu.home'|translate}}</span>
            </li>

            <!-- TODO POoner mi estudios-->
            <li >
            <a [routerLink]="['skills']"
            routerLinkActive="router-link-active">
            <img src="../assets//icons//skills.png" alt=""> </a>  
            <span class="menuText">{{'menu.skills'|translate}}</span>   
             </li>

            <!-- TODO  POoner mi  experiencia-->
            <li>
            <a [routerLink]="['experience']"
            routerLinkActive="router-link-active"><img src="../assets//icons//experience.png" alt=""> </a> 
            <span class="menuText">{{'menu.experience'|translate}}</span> 
            </li>

            <!-- TODO  POoner mis  proyectos-->
            <li>
                <a [routerLink]="['projects']"
            routerLinkActive="router-link-active"><img src="../assets//icons//projects.png" alt=""></a>  
            <span class="menuText">{{'menu.Projects'|translate}}</span> 
  
            </li>

            <!-- TODO  Form para contactarme-->
            <li>
                <a [routerLink]="['contact']"
            routerLinkActive="router-link-active"><img src="../assets//icons//contact.png" alt=""> </a>   
            <span class="menuText">{{'menu.Contact'|translate}}</span> 
           </li>

        </ul>
       
    </nav>
    

    <div class="container">

        <router-outlet></router-outlet>
    
    </div>
    
</div>


