<div >

    <!-- TODO:; study certifications-->
    <div class="list">
        <label  for="studies" style="font-size: 20px;"> <strong> Study Certifications</strong></label>
        <hr>
        <div >

            <li class="liCertificates">
                <div> 
                    <h3>FP Desarrollo de Aplicaciones Web</h3>
                    <p class="date"> Fecha</p>
                    <p>Contenido del curso</p>
                    <a href="http://"> Link to the certificate</a>
                </div>
            </li>





        </div>
    </div>

    <div class="progresBars">

        <label  for="Idiomas" style="font-size: 20px;"> <strong> Languages</strong></label>
            <hr>
            <label for="">English</label>
            <div class="greyBar">
                <div class="percentBar" style="width: 50%;">50%</div>
            </div>

            <label for="">Spanish</label>
            <div class="greyBar">
                <div class="percentBar" style="width: 100%;">100%</div>
            </div>
        
            <!--TODO: Add udemy certifications list-->
            <label  for="Idiomas" style="font-size: 20px;"> <strong> Udemy Certificates</strong></label>
            <hr>

            <li class="liCertificates">
                <div> 
                    <h3>Node js</h3>
                    <p class="date"> Fecha</p>
                    <p>Contenido del curso</p>
                    <a href="http://"> Link to the certificate</a>
                </div>
            </li>
            <li class="liCertificates">
                <div> 
                    <h3> Master en JavaScript</h3>
                    <p class="date"> Fecha</p>
                    <p>Contenido del curso</p>
                    <a href="http://"> Link to the certificate</a>
                </div>
            </li>

        </div>


</div>

