<div >

    <div class="list">
        <label  for="studies" [ngStyle]="{'font-size': '20px'}"> <strong>{{ 'skills.title1' | translate }}</strong></label>
        <hr>
        <div >

            <li class="liCertificates">
                <div> 
                    <h3>{{ 'skills.content2.contentTitle' | translate }}</h3>
                    <p class="date"> {{ 'skills.content2.date' | translate }}</p>
                    <p> {{ 'skills.content2.content' | translate }}</p>
                </div>
            </li>
            <li class="liCertificates">
                <div> 
                    <h3>{{ 'skills.content1.contentTitle' | translate }}</h3>
                    <p class="date"> {{ 'skills.content1.date' | translate }}</p>
                    <p> {{ 'skills.content1.content' | translate }}</p>
                </div>
            </li>
            <li class="liCertificates">
                <div> 
                    <h3>{{ 'skills.content5.contentTitle' | translate }}</h3>
                    <p class="date"> {{ 'skills.content5.date' | translate }}</p>
                    <p> {{ 'skills.content5.content' | translate }}</p>
                </div>
            </li>

        </div>
    </div>

    <div class="progresBars">

        <label  for="Idiomas" [ngStyle]="{'font-size': '20px'}"> <strong> {{ 'skills.title2' | translate }}</strong></label>
            <hr>
            <label for="">{{'skills.leng1' |translate}}</label>
            <div class="greyBar">
                <div class="percentBar" style="width: 60%;">{{percent[0]}}</div>
            </div>
            <label for="">{{'skills.leng2' |translate}}</label>
            <div class="greyBar">
                <div class="percentBar" style="width: 100%;">{{percent[1]}}</div>
            </div>
            <label for="">{{'skills.leng3' |translate}}</label>
            <div class="greyBar">
                <div class="percentBar" style="width: 70%;">{{percent[2]}}</div>
            </div>
        
            <label  for="Idiomas" [ngStyle]="{'font-size': '20px'}" > <strong>{{ 'skills.title3' | translate }}</strong></label>
            <hr>

            <li class="liCertificates">
                <div> 
                    <h3>{{ 'skills.content3.contentTitle' | translate }}</h3>
                    <p class="date"> {{ 'skills.content3.date' | translate }}</p>
                    <p>{{ 'skills.content3.content' | translate }}</p>
                    <a href="{{ url+'/getimage/titles'+ 'udemynode.jpg' }}">{{ 'skills.content3.link' | translate }}</a> 
                </div>
            </li>
            <li class="liCertificates">
                <div> 
                    <h3>{{ 'skills.content4.contentTitle' | translate }}</h3>
                    <p class="date"> {{ 'skills.content4.date' | translate }}</p>
                    <p>{{ 'skills.content4.content' | translate }}</p>
                    <a href="{{ url+'/getimage/titles'+ 'masterjs.jpg' }}">{{ 'skills.content4.link' | translate }}</a>
                </div>
            </li>

        </div>


</div>

